<div class="row">

    <div class="col-md-4">

        <h3>Select Files</h3>

        <div (mouseOver)="overDrop = $event" appNgDropFiles [files]="files" [ngClass]="{ 'file-over': overDrop }" class="well drop-zone">
            <h4> Drop your files here</h4>
            <img src="assets/drop-images.png">
        </div>

    </div>

    <div class="col-md-8">

        <h4>Upload Files</h4>

        <button (click)="uploadPictures()" [disabled]="files.length === 0" class="btn btn-success"> Upload to FireBase </button>
        <button (click)="clearFileList()" class="btn btn-danger"> Clear </button>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th> File Name </th>
                    <th> Size </th>
                    <th> Progress </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of files">
                    <th [ngClass]=" {  'text-green': item.progress >= 100  } "> {{ item.fileName }} </th>
                    <th> {{ item.file.size / 1024 / 1024 | number: '.2-2' }} MB </th>
                    <th>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" [ngStyle]=" { 'width': item.progress + '%' } "></div>
                        </div>
                    </th>
                </tr>
            </tbody>
        </table>

    </div>

</div>