<div class="container main-container ">
    <h1>Firechat</h1>

    <div class="col-md-12 text-end" *ngIf="cS.usuario.uid">
        <button type="button" class="btn btn-outline-danger" (click)="cS.logout()">
            Salir
        </button>
    </div>

    <app-login *ngIf="!cS.usuario.uid"></app-login>

    <div class="chat-window" *ngIf="cS.usuario.uid">
        <app-chat></app-chat>
    </div>

</div>