<h1>Chat</h1>
<hr />


<div class="app-mensajes" id="app-mensaje">

    <div [ngClass]=" {'text-end': cS.usuario.uid == chat.uid } " *ngFor="let chat of cS.chats">
        <span class="badge " [ngClass]=" {'bg-primary': cS.usuario.uid == chat.uid,
                     'bg-success': cS.usuario.uid != chat.uid } "> 
            {{ chat.nombre }}
        </span>
        <p> {{ chat.mensaje }} </p>
    </div>

</div>

<input class="form-control" type="text" name="mensaje" [(ngModel)]="mensaje" (keyup.enter)="enviarMensaje()" placeholder="Enviar Mensaje" />