<mat-toolbar color='primary'>
    <span> Maps</span>
</mat-toolbar>

<div class="main-container">

    <app-map></app-map>

    <!--<button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>

    <mat-progress-bar mode="query"></mat-progress-bar>-->
</div>