<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">FireBasePictures</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="pictures"> Pictures </a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="load">Upload Pictures</a>
            </li>

        </ul>
    </div>
</nav>

<div class="container main-container">
    <router-outlet>



    </router-outlet>
</div>