<h1>Recientes</h1>

<div class="row" *ngIf="movies.length > 0">
    <div class="col">
        <app-slide-show [movies]="moviesSlideShow"> </app-slide-show>
    </div>
</div>

<h1 class="mt-5">Mas Estrenos</h1>

<app-movies-poster-grid *ngIf="movies.length > 0" [movies]="movies"></app-movies-poster-grid>