<h1 class="mt-3 font-weight-light"> YouTube Videos </h1>
<hr>


<div class="card-columns">

    <div class="card animated animate__fadeIn" *ngFor="let video of videos">
        <img [src]="video.thumbnails.high.url" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"> {{video.title}} </h5>
            <p class="card-text">
                <strong> Author: </strong> {{ video.channelTitle }}
            </p>
            <p>
                <strong> published: </strong> {{ video.publishedAt | date }}
            </p>

            <button (click)="viewVideo( video )" class="btn btn-outline-primary btn-block">
                View Video
            </button>

        </div>
    </div>

</div>

<div class="row mt-5 mb-5 text-center">
    <div class="col">
        <button class="btn btn-primary btn-lg" (click)="loadVideos()">
            Next Page
        </button>
    </div>
</div>