<div class="row">
    <div class=" col">
        <input #param type="text" (keyup)="shearch( param.value )" placeholder="Buscar Artista" class="form-control">
    </div>
</div>


<app-loading *ngIf="loading" class="m-5"></app-loading>


<app-tarjetas *ngIf="!loading" [items]="artists"></app-tarjetas>