<h1>Buscar Película: <small>  {{inputText}}  </small></h1>
<hr>

<div class="row">
    <div class="col">

        <app-movies-poster-grid *ngIf="movies.length > 0" [movies]="movies"></app-movies-poster-grid>

    </div>
</div>