<h4>Formularios <small> Reactivos </small></h4>
<hr />
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="save()">
    <div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="Nombre" formControlName="name" [class.is-invalid]="validateField('name')" />
                <small *ngIf="validateField('name')" class="text-danger">Ingrese 5 letras la palabra "holas" es un valor invalido </small
        >
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">
        <input
          class="form-control"
          type="text"
          placeholder="Apellido"
          formControlName="lastName"
          [class.is-invalid]="validateField('lastName')"
        />
        <small *ngIf="validateField('lastName')" class="text-danger"
          >Ingrese 5 letras</small
        >
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-8">
      <input
        class="form-control"
        type="email"
        placeholder="Correo electrónico"
        formControlName="email"
        [class.is-invalid]="validateField('email')"
      />
      <small *ngIf="validateField('email')" class="text-danger"
        >Ingrese un correo valido</small
      >
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Nombre de Usuario</label>
    <div class="col-8">
      <input
        class="form-control"
        type="text"
        placeholder="Correo electrónico"
        formControlName="userName"
        [class.is-invalid]="validateField('userName')"
      />
      <small *ngIf="validateField('userName')" class="text-danger"
        >Ingrese un Nombre de Usuario valido</small
      >
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Contraseña</label>
    <div class="col-8">
      <input
        class="form-control"
        type="password"
        placeholder="Contraseña"
        formControlName="pass1"
        [class.is-invalid]="validateField('pass1')"
      />
      <small *ngIf="validateField('pass1')" class="text-danger"
        >Ingrese contraseña</small
      >
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Repetir Contraseña</label>
    <div class="col-8">
      <input
        class="form-control"
        type="password"
        placeholder="Contraseña"
        formControlName="pass2"
        [class.is-invalid]="validateField('pass2') || validpass()"
      />
      <small *ngIf="validateField('pass2') || validpass()" class="text-danger"
        >Ingrese contraseña</small
      >
    </div>
  </div>

  <div class="form-group row" formGroupName="address">
    <label class="col-2 col-form-label">Dirección</label>
    <div class="col-8">
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="Departamento"
          formControlName="department"
          [class.is-invalid]="validateField('address.department')"
        />
        <small *ngIf="validateField('address.department')" class="text-danger"
          >Ingrese 5 letras</small
        >
      </div>

      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="Ciudad"
          formControlName="city"
          [class.is-invalid]="validateField('address.city')"
        />
        <small *ngIf="validateField('address.department')" class="text-danger"
          >Ingrese 5 letras</small
        >
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Id</th>
            <th>PasaTiempo</th>
            <th>Borrar</th>
          </tr>
        </thead>
        <tbody formArrayName="hobbies">
          <tr
            *ngFor="let control of getArray('hobbies').controls; let i = index"
          >
            <td>{{ i + 1 }}</td>
            <td>
              <input
                type="text"
                class="form-control"
                [formControlName]="i"
                [class.is-invalid]="validateField('hobbies.' + i)"
              />
              <small
                *ngIf="validateField('hobbies.' + i)"
                class="text-danger"
                >Ingrese 5 letras</small
              >
            </td>
            <td>
              <button
                type="button"
                class="btn btn-danger"
                (click)="deleteHobby('hobbies', i)"
              >
                Borrar
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <button
        type="button"
        class="btn btn-primary mt-3 mb-5 btn-block"
        (click)="addHobby('hobbies')"
      >
        + Agrear
      </button>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>
</form>

<hr />
<pre>
    Estado del formulario: {{ forma.valid }}
    <br>
    Status: {{ forma.status }}
</pre>

<pre>
    {{ forma.value | json }}
</pre>