<div class="row animate__animated animate__fadeIn " *ngIf="moviDetail">

    <div class="col-md-6">

        <img class="img-thumbnail" [src]="moviDetail.poster_path | poster" [alt]="moviDetail.title">

    </div>

    <div class="col-md-6">
        <h3> {{ moviDetail.title }} </h3>

        <div class="row">
            <div class="col">
                <star-rating [value]="moviDetail.vote_average" totalstars="10" checkedcolor="yellow" uncheckedcolor="grey" size="15px" readonly="false"></star-rating>
            </div>
            <div class="col text-white">
                {{ moviDetail.vote_average | number:'1.1-2' }}
            </div>
        </div>

        <div class="row mt-3">
            <div class="col text-white">
                {{moviDetail.overview}}
            </div>
        </div>

        <div class="row mt-5">
            <div class="col">
                <button class="btn btn-outline-info" (click)=back()>
                    Regresar
                </button>
            </div>
        </div>

    </div>

</div>

<div class="row mt-5" *ngIf="cast">
    <div class="col">
        <app-cast-slide-show [cast]="cast"></app-cast-slide-show>
    </div>
</div>