<form [formGroup]="form">
    <mat-form-field>
        <input matInput placeholder="Title" formControlName="title">
    </mat-form-field>

    <mat-form-field>
        <textarea rows="3" matInput placeholder="Description" formControlName="desc"></textarea>
    </mat-form-field>

    <button (click)="saveChanges( )" mat-raised-button color="primary">Edit</button>
    <button (click)="onNoClick()" type="button" mat-raised-button color="warn">Cancel</button>
</form>