<mat-card>

    <mat-card-title>Map</mat-card-title>

    <mat-card-content>

        <agm-map (mapClick)="addMarker( $event )" [latitude]="lat" [longitude]="lng">
            <agm-marker *ngFor="let marker of markers; let i = index" [latitude]="marker.lat" [longitude]="marker.lng">

                <agm-info-window>
                    <strong> {{ marker.title }} </strong>
                    <p> {{ marker.desc }} </p>
                    <div>
                        <button (click)="editMarker( marker )" mat-raised-button color="primary">Edit</button>
                        <button (click)="deleteMarker(i)" mat-raised-button color="warn">Delete</button>
                    </div>
                </agm-info-window>

            </agm-marker>
        </agm-map>

    </mat-card-content>

</mat-card>