<h4>Formularios <small> Template </small></h4>
<hr />
<form autocomplete="off" (ngSubmit)="save(forma)" #forma="ngForm">
    <div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">
                <input class="form-control" type="text" name="name" placeholder="Nombre" required minlength="4" #name="ngModel" [class.is-invalid]="name.invalid && name.touched" [ngModel]="user.name" />
                <small *ngIf="name.invalid && name.touched" class="form-text text-danger">
          Ingrese 4 letras
        </small>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">
                <input class="form-control" type="text" name="lastName" placeholder="Apellido" required minlength="4" #lastName="ngModel" [class.is-invalid]="lastName.invalid && lastName.touched" [ngModel]="user.lastName" />
                <small *ngIf="lastName.invalid && lastName.touched" class="form-text text-danger">
          Ingrese 4 letras
        </small>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-8">
            <input class="form-control" type="email" name="email" placeholder="Correo electrónico" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #email="ngModel" [class.is-invalid]="email.invalid && email.touched" [ngModel]="user.email" />
            <small *ngIf="email.invalid && email.touched" class="form-text text-danger">
        El correo es obligatorio
      </small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label"> Pais </label>
        <div class="col-8">

            <select class="form-control" name="country" [disabled]="countries.length === 0" [class.is-invalid]="country.invalid && country.touched" [ngModel]="user.country" required #country="ngModel">
                <option *ngFor="let country of countries" [value]="country.code">
                    {{country.name}}
                </option>
            </select>

        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label"> Genero </label>
        <div class="col-8">

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" value="M" [class.is-invalid]="gender.invalid && gender.touched" required [ngModel]="user.gender" #gender="ngModel">
                <label class="form-check-label"> Masculino </label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" value="F" [class.is-invalid]="gender.invalid && gender.touched" required [ngModel]="user.gender" #gender="ngModel">
                <label class="form-check-label"> Femenino </label>
            </div>

        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button class="btn btn-outline-primary btn-block" type="submit">
        Guardar
      </button>
        </div>
    </div>
</form>